.link {
  border: 1px solid transparent;
  border-radius: 20px;

  &[aria-disabled='false']:hover {
    border: 1px solid $stroke-cardHover;
  }
}

.howCountsDesktop.howCountsDesktop {
  display: none;
}

.chipsContainer {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.tokenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.tokenName {
  font-family: $poppins-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  color: $text-white-body40;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  background-color: $background-card;
  border-radius: 20px;
  gap: 16px;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  min-height: 43px;
  align-items: center;
  justify-content: center;
}

.titleText {
  font-family: $unbounded-font;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  color: $text-white-body100;
  max-width: 200px;
}

.trustScoreContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.large {
  .title {
    flex-direction: row;
    justify-content: space-between;
  }

  .tokenContainer {
    order: 1;
  }

  .titleText {
    max-width: 220px;
    text-align: left;
  }
}

@media screen and (width >= 600px) {
  .howCountsDesktop.howCountsDesktop {
    display: flex;
  }

  .howCountsMobile.howCountsMobile {
    display: none;
  }
}

@include desktop {
  .trustScoreContainer {
    gap: 18px;
    flex-direction: row;
    align-items: center;
  }
}
