.textPoppins {
  font-family: $poppins-font;
}

.textCaption {
  font-family: $poppins-font;
}

.textUnbounded {
  font-family: $unbounded-font;
}

/* Orders */
.textUnbounded1 {
  font-size: 20px;
  line-height: 24px;
}

.textUnbounded2 {
  font-size: 16px;
  line-height: 24px;
}

.textUnbounded3 {
  font-size: 12px;
  line-height: 14px;
}

/* Orders Poppins */

.textPoppins1 {
  font-size: 20px;
  line-height: 30px;
}

.textPoppins2 {
  font-size: 16px;
  line-height: 24px;
}

.textPoppins3 {
  font-size: 13px;
  line-height: 17px;
}

/* Orders Caption */
.textCaption1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.textCaption2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.textCaption3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.textCaption4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
