.bg {
  position: relative;
  background-image: none;
  overflow: hidden;

  @include lg-screen {
    &::after {
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../shared/assets/images/ClaimLockedTokenBg.webp');
      background-repeat: no-repeat;
      background-position: 353px 109px;
      content: '';
      pointer-events: none;
    }
  }
}
