.root {
  color: $text-white-body100;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 0;
  font-family: $unbounded-font;
  line-height: 120%;
}

.p1,
.p2,
.p3 {
  margin: 0;
  font-family: $poppins-font;
}

.c1,
.c2,
.c3,
.c4,
.bp1,
.bp2,
.bp3 {
  font-family: $poppins-font;
}

.bu1,
.bu2,
.bu3 {
  font-family: $unbounded-font;
}

.h1 {
  font-size: 62px;
  font-weight: 600;
  text-transform: uppercase;
}

.h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

.h5 {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

.p1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.p2 {
  font-size: 16px;
  line-height: 150%;
}

.p3 {
  font-size: 13px;
  line-height: 150%;
}

.c1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.c2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
}

.c3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

.c4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
}

.bu1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

.bu2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}

.bu3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

.bp1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.bp2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.bp3 {
  font-size: 13px;
  font-weight: 500;
  line-height: 130%;
}

@media screen and (width <= 800px) {
  .h1 {
    font-size: 45px;
  }
}

@media screen and (width <= 600px) {
  .h1 {
    font-size: 25px;
  }
}
