.claimBg {
  position: relative;
  background-image: none;

  @include lg-screen {
    &::after {
      position: absolute;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-image: url('../../../shared/assets/images/ClaimTokenCardBg.webp');
      background-repeat: no-repeat;
      background-position: 460px 0;
      content: '';
      pointer-events: none;
    }
  }
}

.stakeBg {
  position: relative;
  background-image: none;

  @include lg-screen {
    &::after {
      position: absolute;
      right: 69px;
      bottom: -15px;
      z-index: -1;
      width: 681px;
      height: 361px;
      background-image: url('../../../shared/assets/images/StakeTokenCardBg.webp');
      background-repeat: no-repeat;
      background-position: 0 calc(88% + 2px);
      content: '';
      pointer-events: none;
    }
  }
}

.tiersRoot {
  position: relative;
  background-image: none;

  @include lg-screen {
    background-image: url('../../../shared/assets/images/TiersModalBg.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}
