.root {
  position: relative;
  display: inline;
  padding: 2px 4px;
  font-family: $unbounded-font;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $menu-defaultLabel;

  &:hover:not(.selected) {
    color: $menu-hoverLabel;
  }
}

.selected {
  color: $menu-selectedLabel;
  background-color: $menu-selectedBg;
}

.disabled.disabled {
  pointer-events: none;
  color: $link-disabled-disabledLabel;
  cursor: not-allowed;

  &:hover {
    color: $link-disabled-disabledLabel;
  }
}

.comingSoonBanner {
  position: absolute;
  top: -18px;
  right: -10px;
  padding: 2px 4px;
  font-family: $poppins-font;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  text-transform: initial;
  color: $text-accent-yellow;
  background-color: $background-card;
  border-radius: 100px;
  transform: rotate(5deg);
}
